<a href="/pages/new">Analyse new link!! </a>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> Number </th>
      <th> Link </th>
      <th> Rating </th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><a href="<%= url("/pages/#{page.id}") %>"><%= page.id %></a></td>
        <td><a href="<%= page.link %>"><%= page.link %></a></td>
        <td><%= page.rating %></td>
      </tr>
    <% end %>
  </tbody>
  </tbody>
</table>
